@import 'fonts.scss';

@mixin clearfix {
  &::after {
    content:" ";
    display:table;
    clear:both;
  }
}

@mixin mobile {
    @media (max-width: 520px) {
      @content;
    }
}

body {
  padding: 20px;
  background: #f9f9f9;
  color: #525659;
  font-family: $body-font-family;
  font-size: 20px;
}

.error-message {
  display: block;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 20px;
  max-width: 550px;
  background: #f31e1e;
  color: white;
  padding: 10px;
}

.rsvp {
  @include clearfix;

  box-sizing: border-box;
  max-width: 550px;
  padding: 20px;
  margin: auto;
  background: #ffffff;

  &__title,
  &__subtitle {
    text-align: center;
    font-weight: normal;
    margin: 0;
  }

  &__title {
    font-family: $header-font-family;
    font-size: 58px;
  }

  &__subtitle {
    font-size: 48px;
    margin-bottom: 30px;
  }

  &__guest {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 20px;
  }

  &__button {
    font-family: $body-font-family;
    float: right;
    padding: 10px 20px;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 25px;
    outline: none;
    background: #278f50;

    &:hover {
      background: #238249;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__guest-name {
    margin: 0;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
  }

  &__part-of-day {
    margin-bottom: 10px;
    font-size: 0;
  }

  &__part-of-day-label,
  &__part-of-day-option {
    vertical-align: middle;
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__part-of-day-label {
    width: 150px;

    @include mobile {
      display: block;
      margin-bottom: 10px;
    }
  }

  &__reception-fields {
    margin-left: 170px;

    @include mobile {
      margin-left: 0;
    }
  }

  &__meal-options {
    margin-bottom: 20px;
  }

  &__meal-option {
    margin-right: 10px;
  }

  &__section-label {
    display: block;
    margin-bottom: 5px;
  }

  &__textarea {
    box-sizing: border-box;
    width: 100%;
    resize: vertical;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #8da4ad;
    outline: none;
  }

  &__form {
    @include clearfix;
  }
}

.hidden {
  display: none;
}

.center-text {
  text-align: center;
}

.link {
  text-decoration: underline;
  color: #adadad;
}

.entry-form {
  @include clearfix;

  width: 230px;
  margin: auto;
  text-align: center;

  &__input,
  &__button {
    float: left;
    vertical-align: middle;
    font-family: $body-font-family;
  }

  &__input {
    width: 120px;
    height: 50px;
    box-sizing: border-box;
    outline: none;
    font-size: 20px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #a8a8a9;
    padding: 10px;
    text-transform: uppercase;
  }

  &__button {
    height: 50px;
    box-sizing: border-box;
    float: right;
    padding: 10px 20px;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 25px;
    outline: none;
    background: #278f50;

    &:hover {
      background: #238249;
    }
  }
}
