{{define "base"}}
<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Daniel &amp; Claire's Wedding</title>
    <link rel="stylesheet" href="{{ asset_path "application.css" }}" />
  </head>
  <body>
    {{template "content" .}}
  </body>
</html>
{{end}}
