{{define "content"}}
  <div class="rsvp">
    <h1 class="rsvp__title">Claire &amp; Daniel's Wedding</h1>
    <h2 class="rsvp__subtitle">Thank you!</h2>
    <p class="center-text">Your RSVP has been received and we're {{.Reaction}}.</p>
    <p class="center-text"><a href="/gifts" class="link">Looking for the gift list?</a></p>
  </div>
{{end}}
