{{define "content"}}
  <div class="rsvp">
    <h1 class="rsvp__title">Claire &amp; Daniel's Wedding</h1>
    <h2 class="rsvp__subtitle">Uh-Oh!</h2>

    <p class="center-text">
      Everything's booked and ready to go,<br />
      So it's now too late to change your response our invitation.
    </p>

    <p class="center-text">
      If you're now unable to come because of unforseen circumstances, please call Daniel directly on: <a href="tel:{{.PhoneNumber}}">{{.PhoneNumber}}</a>.
    </p>
  </div>
{{end}}
